<mat-toolbar *ngIf="showNavbar" class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ navBarTitle }}</span>
  <span class="example-spacer"></span>
  <button style="margin-right: 10px" mat-raised-button color="primary" routerLink="/login">
    Login
  </button>
  <button style="margin-right: 10px" mat-raised-button color="primary" routerLink="/signup">
    SignUp
  </button>
</mat-toolbar>
<mat-sidenav-container *ngIf="showNavbar">
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()" />
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet *ngIf="showNavbar"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet *ngIf="!showNavbar"></router-outlet> 