<div>
    <div *ngIf="(isAuthenticated$ | async) === true">
      <div class="statistics">
        <div class="stat-box">
          <div class="stat-title">Total Problems Solved</div>
          <div class="stat-value">{{ totalProblemsSolved }}</div>
        </div>
        <div class="stat-box">
          <div class="stat-title">Total Problems Left</div>
          <div class="stat-value">{{ totalProblemsLeft }}</div>
        </div>
        <div class="stat-box">
          <div class="stat-title">Hard Problems Solved</div>
          <div class="stat-value">{{ hardProblemsSolved }}</div>
        </div>
      </div>
    </div>

    <div class="mat-elevation-z8">
        <div class="loading-shade" *ngIf="isLoading">
          <mat-progress-spinner *ngIf="isLoading"></mat-progress-spinner>
        </div>
        <table mat-table [dataSource]="dataSource">
      
          <!-- Number Column -->
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> Number </th>
            <td mat-cell *matCellDef="let element"> {{element.number}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <!-- Difficulty Column -->
          <ng-container matColumnDef="difficulty">
            <th mat-header-cell *matHeaderCellDef> Difficulty </th>
            <td mat-cell *matCellDef="let element" [ngClass]="getDifficultyClass(element.difficulty)">
                {{element.difficulty}}
              </td>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let element">
                <div class="button-wrapper">
                  <button mat-flat-button name="Open" color="success" (click)="onOpenClick(element.id)">Open</button>
                </div>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator 
                       #paginator 
                       [pageSizeOptions]="pageSizes"
                       [length]="total"
                       showFirstLastButtons
                       aria-label="Select page of problems">
        </mat-paginator>
      </div>

</div>
