:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

mat-card {
  max-width: 400px; /* Set maximum width for the card */
  width: 100%; /* Make the card responsive */
}

mat-card-content {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Align children vertically */
}

mat-card-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.example-button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add margin to separate from form */
}

.example-button-row button {
  font-size: 1.2em; /* You can adjust the font size as needed */
  width: 150px; /* Set width */
  height: 50px; /* Set height */
}

.email,
.password {
  width: 100%;
  min-width: 300px; /* Reduce min-width for smaller screens */
  margin-top: 20px; /* Adjust margin */
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.error-card {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add margin to separate from form */
}

.error-card mat-card {
  max-width: 400px; /* Limit maximum width */
  background-color: #f44336; /* Red background color */
  color: white; /* White text color */
}

.error-card mat-card-content {
  padding: 16px; /* Add padding */
}

.error-card mat-card-content p {
  margin: 0; /* Remove default margin */
}

.reset-password {
  padding-top: 5%;
  font-size: medium;
  align-self:flex-end;
}